{% extends "base.html" %}

{% block content %}
    {% for genre in genres %}
        {% if genre.movies.count %}
            <a href="{% url 'genre' genre.id %}">{{ genre }} ({{ genre.movies.count }})</a>{% if not forloop.last %}, {% endif %}
        {% endif %}
    {% endfor %}
<h1>Seznam filmů</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'movie_create' %}" class="btn btn-primary">Přidat</a>
        <hr>
    {% endif %}
    <ul>
        {% for movie in movies %}
            <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'movie_update' movie.id %}"> 📝</a>
                    <a href="{% url 'movie_delete' movie.id %}"> 🗑️️</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}