{% extends "base.html" %}

{% block content %}
<h1>{{ movie.title_orig }}</h1>
    <div class="movie-title-cz">{{ movie.title_cz }}</div>

    <div class="movie-images">
        {% for image in movie.images.all %}
            <span class="movie-image">
                <a href="{% url 'image' image.id %}">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" width="150px">
                </a>
            </span>
        {% endfor %}
    </div>

    <div class="movie-year"><b>Rok:</b> {{ movie.year }}</div>
    <div class="movie-length"><b>Délka:</b> {{ movie.length_format }}</div>
    <div class="movie-directors"><b>Režie:</b>
        {% for director in movie.directors.all %}
            <a href="{% url 'creator' director.id %}">{{ director.first_name }} {{ director.last_name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            Tento film nemá žádného režiséra.
        {% endfor %}
    </div>
    <div class="movie-actors"><b>Hrají:</b>
        {% for actor in movie.actors.all %}
            <a href="{% url 'creator' actor.id %}">{{ actor.full_name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            Tento film nemá žádného herce.
        {% endfor %}
    </div>
    <div class="movie-countries"><b>Země:</b>
        {% for country in movie.countries.all %}
            {{ country }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Tento film nemá žádnou zemi.
        {% endfor %}
    </div>
    <div class="movie-genres"><b>Žánry:</b>
        {% for genre in movie.genres.all %}
            <a href="{% url 'genre' genre.id %}">{{ genre }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            Tento film nemá žádný žánr.
        {% endfor %}
    </div>
    <br>
    <div class="movie-description">
        {{ movie.description }}
    </div>

    <br>
    <hr>

    {% if perms.viewer.change_movie %}
        <a href="{% url 'movie_update' movie.id %}" class="btn btn-primary">Aktualizovat</a>
    {% endif %}
    {% if perms.viewer.delete_movie %}
        <a href="{% url 'movie_delete' movie.id %}" class="btn btn-danger">Smazat</a>
    {% endif %}

    <br>
    <hr>
    <div>
        Průměrné hodnocení filmu:
        {% if rating_avg %}
            {{ rating_avg }}
        {% else %}
            dosud nehodnoceno
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
        <br>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <table>{{ form_review }}</table>
            <button type="submit">Odeslat</button>
        </form>
    {% endif %}

    {% if movie.reviews.all %}
        <br>
        <hr>
        {% for review in movie.reviews.all %}
            <div class="bg-light rounded mt-2 p-2 position-relative">
                <span>
                    Uživatel: {{ review.reviewer }}
                </span>
                <span class="font-italic">
                    {{ review.created|date:'d. m. Y H:i' }}
                </span>
                {% if review.created != review.updated %}
                    <span class="font-italic">
                        (edit {{ review.updated|date:'d. m. Y H:i' }})
                    </span>
                {% endif %}
                <div>
                    Hodnocení: {{ review.rating }}
                </div>
                <div>
                    Komentář: {{ review.comment }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}